body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.jumbotron {
  padding-top: 150px;
  background-color: #fff;
  background-image: url('map.jpg');
  height: 100vh;
}
.video {
  text-align: center;
}
.description {
  text-align: left;
}
.description h1{
  text-align: left;
  color: #e74c3c;
}
.description p{
  text-align: left;
  padding-top: 100px;
  font-size: 24px;
}


.logo {
  width: 65px;
  margin-top: 5px;
}


.navbar, .navbar-brand {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 65px;
}

.navbar-custom, .navbar-brand {
  border-bottom: 1px solid #3498db;
}


.flow {
  margin-top: 20px;
  border: 1px solid blue;
}

.flow_img {
  width: 700px;
}

.techstack {
  margin-top: 20px;
  border: 1px solid blue;
}

.contributors {
  margin-top: 20px;
}

.developer_pic {
  width: 100px;
}
