body {
  background-color: #000;
  padding: 0;
  margin: 0;
}

.logo {
  width: 65px;
  margin-top: 5px;
}


.navbar, .navbar-brand {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 65px;
}

.navbar-custom, .navbar-brand {
  border-bottom: 1px solid blue;
}

.description {
  text-align: left;
}

.video {
  margin-top: 30px;
}

.developer_pic {
  width: 100px;
}
